body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -o-font-smoothing: antialiased; }

#loop-swiper-1 .swiper-wrapper,
#loop-swiper-2 .swiper-wrapper {
  transition-timing-function: linear !important;
}


#faq .faq_accordion .faq_answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.6s ease-out, opacity 0.6s ease-out;
}

#faq .faq_accordion.open .faq_answer {
  max-height: 500px; /* Adjust this value based on your content */
  transition: max-height 0.6s ease-out,  opacity 0s ease-out;
  opacity:1;
}

/* Optional: Add transition to the question for a smoother effect */
#faq .faq_accordion .faq_question {
  transition: color 0.6s ease-in-out;
}

#faq .arrow_circle svg {
  transform-origin: center;
}

.blurry-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
  z-index: 998;
}

.centered-menu {
  position: fixed;
  top: 270px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: center;
  background: var(--black);
  padding:40px 25px;
  border-radius: 20px;
  width: calc(100% - 2rem);
}

.centered-menu .nav_link{
  color: var(--white);
}

.centered-menu .nav_link.w--current {
  box-shadow: unset;
  background-color: unset;;
}
.centered-menu .nav_link {
  font-size: 1rem;
}
.centered-menu .cta_button_component {
  margin-left:0;
  font-size:1.6rem;
  margin-right:0;
  margin-top:25px;
  padding: 1.5rem 1.5rem;
  text-align: center;
  justify-content: center;
}