body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -o-font-smoothing: antialiased; }

#loop-swiper-1 .swiper-wrapper,
#loop-swiper-2 .swiper-wrapper {
  transition-timing-function: linear !important;
}


#faq .faq_accordion .faq_answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.6s ease-out, opacity 0.6s ease-out;
}

#faq .faq_accordion.open .faq_answer {
  max-height: 500px; /* Adjust this value based on your content */
  transition: max-height 0.6s ease-out,  opacity 0s ease-out;
  opacity:1;
}

/* Optional: Add transition to the question for a smoother effect */
#faq .faq_accordion .faq_question {
  transition: color 0.6s ease-in-out;
}

#faq .arrow_circle svg {
  transform-origin: center;
}

/* .split-word span {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  color:#1f1f1f;
  text-align: left;
  clip-path: inset(0% 100% 0% 0%);
}

.split-word .word,
.split-word .char {
  font-kerning: none;
} */


.centered-menu {
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: center;
  background: var(--black);
  padding:40px 25px;
  border-radius: 20px;
  /* box-shadow: inset 0 0 7px 4px var(--background-color); */
  width: calc(100% - 2rem);
}

.centered-menu .nav_link{
  color: var(--white);
  font-size: 1rem;
}

.centered-menu .nav_link.w--current {
  box-shadow: unset;
}

.centered-menu .cta_button_component {
  margin-left:0;
  margin-right:0;
  margin-top:25px
}